/* Стили для заголовка */
h1 {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
}

p {
  font-size: 36px;
}
/* Стили для навигационного меню */
nav {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
  font-size: 30px;
}

nav a {
  text-decoration: none;
  color: #333;
}

/* Стили для контейнера с изображениями */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url("/assets/img/fon.webp");
}

.gallery img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

/* Эффект увеличения при наведении */
.gallery img:hover {
  transform: scale(1.1);
}

/* Стили для Footer */
footer {
  text-align: center;
  margin-top: 20px;
}
